# Homework 2 - Higher Order Functions (10 pts)

In this homework, we will practice Python's higher order functions. Please note that you may only use higher order functions **without access to global variables**. Your expression should contain only **map()**, **filter()**, **sorted**, **reduce()** and your custom functions.

You are required to turn in this notebook with all the parts filled in between <>. Your notebook must be named BDM\_HW2\_HOF_NetID.ipynb.

We will be using the provided the Graduation Outcomes data set for cohorts from 2001 through 2006 (Classes of 2005 through 2010) from the NYC Department of Education (the data handle on NYC Open Data is **avir-tzek**). The data is available on online as **nyc_grads.csv**.

#### The first ten records of the data are shown below. Please note, the data are sorted by "Demographics", then "Borough", then "Cohort".

In [1]:
DO NOT RUN THIS CELL

,Demographic,Borough,Cohort,Total Cohort,Grads,Regents,Advanced Regents,Local,Dropped Out
0,Borough Total,Bronx,2001,11453,4913,2644,998,2271,2438
1,Borough Total,Bronx,2002,12032,5328,3118,992,2217,2140
2,Borough Total,Bronx,2003,13632,6389,3861,1255,2528,2472
3,Borough Total,Bronx,2004,14364,7448,4625,1395,2823,2303
4,Borough Total,Bronx,2005,15175,8229,5618,1544,2611,2147
5,Borough Total,Bronx,2006,15579,8524,6312,1558,2212,2402
6,Borough Total,Brooklyn,2001,19961,9758,6177,2829,3591,3547
7,Borough Total,Brooklyn,2002,20808,10337,7050,2865,3298,3369
8,Borough Total,Brooklyn,2003,21334,11064,7711,3239,3353,3198
9,Borough Total,Brooklyn,2004,22353,12303,8872,3741,3431,2973

In [1]:
import csv
from functools import reduce

## Task 1 (3 points)

In this data set, we would like to inspect whether there is a correlation between the dropped out percentage and the percentage of students graduated with advanced regents for schools in NYC. Thus, we must compute the ratio of **Dropped Out** and **Advanced Regents** for each borough, and for each year by dividing them by the **Total Cohort** value. Thus, the only useful records for us are those with the **Demographic** value equals to **'Borough Total'**, aka. you must filter the data to this type of demographic first.

Please complete the HOF expression below to transform each input record into a tuple of only 4 elements: **Borough**, **Cohort**, **Ratio_Advanced**, **Ratio_Dropped**. Note that, your expression must user **reader** as input. Though you are encouraged to write your helper functions (instead of lambdas) to make your expression concise, global variables are absolutely not allowed. No exception. The output must be exactly as below.

In [6]:
# Borough, Cohort
def mapper1(x):
    return (x['Borough'], x['Cohort'],
            int(x['Advanced Regents'])/int(x['Total Cohort']),
            int(x['Dropped Out'])/int(x['Total Cohort']))

def filter1(x):
    return( x['Demographic'] == 'Borough Total')       

with open('../../Data/nyc_grads.csv', 'r') as fi:
    reader = csv.DictReader(fi)
    output1 = list(sorted(map(mapper1, filter(filter1, reader))))
output1

[('Bronx', '2001', 0.08713874094123811, 0.21286999039552956),
 ('Bronx', '2002', 0.08244680851063829, 0.1778590425531915),
 ('Bronx', '2003', 0.09206279342723005, 0.1813380281690141),
 ('Bronx', '2004', 0.09711779448621553, 0.16033138401559455),
 ('Bronx', '2005', 0.10174629324546952, 0.1414827018121911),
 ('Bronx', '2006', 0.10000641889723345, 0.1541819115475961),
 ('Brooklyn', '2001', 0.14172636641450828, 0.1776965081909724),
 ('Brooklyn', '2002', 0.1376874279123414, 0.16190888119953864),
 ('Brooklyn', '2003', 0.15182338051935876, 0.14990156557607576),
 ('Brooklyn', '2004', 0.1673600858945108, 0.13300228157294322),
 ('Brooklyn', '2005', 0.16201692714164168, 0.11544489722806861),
 ('Brooklyn', '2006', 0.1676060783694819, 0.12314560129864274),
 ('Manhattan', '2001', 0.14609313338595106, 0.1548539857932123),
 ('Manhattan', '2002', 0.13904776052885687, 0.1294659436975414),
 ('Manhattan', '2003', 0.18207363642913754, 0.1245766986094099),
 ('Manhattan', '2004', 0.18582666754809282, 0.12176902227804588),
 ('Manhattan', '2005', 0.1687180458246544, 0.10080161585558291),
 ('Manhattan', '2006', 0.16940789473684212, 0.10258284600389864),
 ('Queens', '2001', 0.15836811474927986, 0.15848568573276114),
 ('Queens', '2002', 0.15534990691052458, 0.15419997809659403),
 ('Queens', '2003', 0.18436057561770297, 0.14759706760792832),
 ('Queens', '2004', 0.19246995994659546, 0.13377837116154873),
 ('Queens', '2005', 0.1854338578237917, 0.12480139408538773),
 ('Queens', '2006', 0.18595970958175684, 0.11534921771142244),
 ('Staten Island', '2001', 0.2262396694214876, 0.10769628099173553),
 ('Staten Island', '2002', 0.20827285921625543, 0.10304789550072568),
 ('Staten Island', '2003', 0.20934091986723566, 0.08866761498340446),
 ('Staten Island', '2004', 0.248430709802028, 0.09198454852728151),
 ('Staten Island', '2005', 0.2374439461883408, 0.08116591928251121),
 ('Staten Island', '2006', 0.25896154681729305, 0.08994134260265045)]


## Task 2 (3 points)

Now given *output1* from Task 1, we need to compute the average ratio of dropped out and advanced regents per borough (i.e. averaging the numbers from 2001 to 2006 for each borough). Please complete the HOF expression below. Your output should be similar to the one provided. Your input is **output1**.

Note: If you could not finish Task 1, you could use the output information above as input to your Task 2. Please try to use the least memory possible for this task.

In [3]:
def reducer2(x,y):
    value = x.get(y[0], {
        'count': 0,
        'sum': 0,
        'sum2':0
    })    
    value['count'] += 1
    value['sum'] += y[2]
    value['sum2'] += y[3]    
    x[y[0]] = value
    return x

def mapper2(x):    
    return(x[0], x[1]['sum']/x[1]['count'], x[1]['sum2']/x[1]['count'])


output2 =list(map(mapper2, reduce(reducer2, output1, {}).items()))

output2

[('Bronx', 0.0934198082513375, 0.17134384308218617),
 ('Brooklyn', 0.15470337770864048, 0.14351662251104022),
 ('Manhattan', 0.16519452307558916, 0.1223416853729485),
 ('Queens', 0.1769903541049419, 0.13903528573260707),
 ('Staten Island', 0.23144827521877342, 0.09375060031471814)]


## Task 3 (4 points)

In this task, you are asked to complete Homework 1 using only map(), filter(), reduce(), and/or sorted() higher-order functions. Note that, instead of writing to a CSV file, the output can be printed in the notebook, similar to what presented below (some differences in the output format are tolerable).

In [4]:
def reducer3(x,y):
    productID = y['Product ID']
    cost = float(y['Item Cost'])
    customer = y['Customer ID']      
    value = x.get(productID, {
        'cost': 0,
        'count': 0,
        'customer': 0,
    })    
    value['cost'] += cost    
    if value['customer']!= customer:
        value['count']+=1
        value['customer'] = customer        
    x[productID] = value
    return (x)

def mapper3(x):
    return x[0], x[1]['count'], x[1]['cost']

with open('../../Data/sale.csv', 'r') as fi:
    reader = csv.DictReader(fi)
    output3 = list(map(mapper3, sorted(reduce(reducer3, reader, {}).items())))

output3

[('P02291', 16, 1181.9700000000007),
 ('P19498', 17, 989.9900000000007),
 ('P32565', 17, 1006.0900000000007),
 ('P33162', 18, 1210.9200000000008),
 ('P39328', 17, 1129.0100000000007),
 ('P58225', 17, 1349.8200000000008),
 ('P61235', 18, 959.0200000000007),
 ('P76615', 18, 1087.9600000000007),
 ('P82222', 17, 950.0500000000006),
 ('P92449', 14, 966.1700000000006)]