# Homework 3 - MapReduce

In this homework, we are practicing the MapReduce programming paradigm. 

You are required to turn in this notebook as BDM\_HW3\_MR\_**NetId**.ipynb. You will be asked to complete each task using the accompanied *mapreduce* package (as **mapreduce.py**) and/or MRJob using one or more MapReduce "steps". For each such step (with **mr.run()**), you are expected to supply a mapper and a reducer as needed. Or if you're using MRJob, please call **mr.runJob()** instead. Below are sample usage of the package:

```python
    # Run on input1 using your mapper1 and reducer1 function
    output = list(mr.run(input1, mapper1, reducer1))

    # Run on input2 using only your mapper2, no reduce phase
    output = list(mr.run(enumerate(input2), mapper2, combiner2))
    
    # Run on input3 using 2 nested MapReduce jobs
    output = mr.run(mr.run(input3, mapper3, reducer3), mapper4)
```
    
Please note that the input must be an iteratable of **key/value pairs**. If your inpu tdata does not have a key, you can simply add a null or index key through **enumerator(input)**. The output of the mr.run() is always a **generator**. You have to cast it to a list if you'd like to view, index or print it out.

## Task (10 points)

There is only one task in this homework. You are asked to implement the Social Triangle example discussed in class. In particular, given the email dataset, please list all "reciprocal" relationships in the company. Recall that:

If A emails B and B emails A, then A and B is *reciprocal*.

If A emails B but B doesnâ€™t email A, then A and B is *directed*.

**Dataset:** We will use a subset of the open [Enron Email Dataset](https://www.cs.cmu.edu/~./enron/ "Enron Email Dataset"), which contains approximately 10,000 simplified email headers from the Enron Corporation. You can download this dataset from NYU Classes as **enron_mails_small.csv**. The file contains 3 columns *Date*, *From*, and *To*. Their description is as follows:

|Column name|Description|
|--|--|
|Date |The date and time of the email, in the format YYYY-MM-DD hh-mm-ss, <br />e.g. "1998-10-30 07:43:00" |
|From |The sender email address, <br />e.g. "mark.taylor@enron.com" |
|To | A list of recipients' email addresses separated by semicolons ';', <br />e.g. "jennifer.fraser@enron.com;jeffrey.hodge@enron.com" |

Note that, we only care about users employed by Enron, or only relationships having email addresses that end with *'@enron.com'*.

The expected output is also provided below. For each reciprocal relationship, please output a tuple consisting of two strings. The first one is always **'reciprocal'**. And the second one is a string showing the name of the two person in the following format: **'Jane Doe : John Doe'**. The names should be presented in the lexical order, i.e. there will not be a 'John Doe : Jane Doe' since 'Jane' is ordered before 'John.

Though the dataset only contains email addresses, not actual names, we're assuming that the email aliases were created based on their name. For example:

|Email Address|Converted Name|
|--|--|
|mark.taylor@enron.com|Mark Taylor|
|alan.aronowitz@enron.com|Alan Aronowitz|
|marc.r.cutler@enron.com|Marc R Cutler|
|hugh@enron.com|Hugh|

Please fill the code block with a series of MapReduce jobs using your own mapper and reducer functions. Be sure to include the naming convention logic into one of your mappers and/or reducers.

In [1]:
import csv
import mapreduce as mr

In [2]:
def mapper1(_,row):
    
    from_split = row['From'].strip().split('@')
    to_split = row['To'].strip().split(';')
    
    for person in to_split:
        to_split2 = person.split('@')    
        if ((from_split[1]=='enron.com') & (to_split2[1]=='enron.com')):           
            from_name = from_split[0].split('.')
            from_name = ' '.join(from_name).title()
            to_name = to_split2[0].split('.')
            to_name = ' '.join(to_name).title()
            yield (from_name, to_name)
    
def reducer1(from_person, to_person):
    yield (from_person, sorted(list(set(to_person))))

def mapper2(from_person, to_person):
    for person in to_person:
        yield(sorted(set((person, from_person))), 1)
    
def reducer2(people, count):
    yield(people, sum(count))
    
def mapper3(people, count):
    if count>1:
        people2 = ' : '.join(people)
        yield('reciprocal', people2)
    
with open('../../Data/enron_mails_small.csv', 'r') as fi:
    reader = enumerate(csv.DictReader(fi))
    output4 = list(mr.run(mr.run(mr.run(reader, mapper1, reducer1),
                              mapper2, reducer2)
                          , mapper3))

print(len(output4))
output4

35

[('reciprocal', 'Brenda Whitehead : Elizabeth Sager'),
 ('reciprocal', 'Carol Clair : Debra Perlingiere'),
 ('reciprocal', 'Carol Clair : Mark Taylor'),
 ('reciprocal', 'Carol Clair : Richard Sanders'),
 ('reciprocal', 'Carol Clair : Sara Shackleton'),
 ('reciprocal', 'Carol Clair : Tana Jones'),
 ('reciprocal', 'Debra Perlingiere : Kevin Ruscitti'),
 ('reciprocal', 'Drew Fossum : Susan Scott'),
 ('reciprocal', 'Elizabeth Sager : Janette Elbertson'),
 ('reciprocal', 'Elizabeth Sager : Mark Haedicke'),
 ('reciprocal', 'Elizabeth Sager : Mark Taylor'),
 ('reciprocal', 'Elizabeth Sager : Richard Sanders'),
 ('reciprocal', 'Eric Bass : Susan Scott'),
 ('reciprocal', 'Fletcher Sturm : Greg Whalley'),
 ('reciprocal', 'Fletcher Sturm : Sally Beck'),
 ('reciprocal', 'Gerald Nemec : Susan Scott'),
 ('reciprocal', 'Grant Masson : Vince Kaminski'),
 ('reciprocal', 'Greg Whalley : Richard Sanders'),
 ('reciprocal', 'Janette Elbertson : Mark Taylor'),
 ('reciprocal', 'Janette Elbertson : Richard Sanders'),
 ('reciprocal', 'Liz Taylor : Mark Haedicke'),
 ('reciprocal', 'Mark Haedicke : Mark Taylor'),
 ('reciprocal', 'Mark Haedicke : Michelle Cash'),
 ('reciprocal', 'Mark Haedicke : Richard Sanders'),
 ('reciprocal', 'Mark Haedicke : Twanda Sweet'),
 ('reciprocal', 'Mark Taylor : Sara Shackleton'),
 ('reciprocal', 'Mark Taylor : Tana Jones'),
 ('reciprocal', 'Michelle Cash : Twanda Sweet'),
 ('reciprocal', 'Pinnamaneni Krishnarao : Vince Kaminski'),
 ('reciprocal', 'Richard Sanders : Sara Shackleton'),
 ('reciprocal', 'Rosalee Fleming : Steven Kean'),
 ('reciprocal', 'Sara Shackleton : Tana Jones'),
 ('reciprocal', 'Shirley Crenshaw : Vince Kaminski'),
 ('reciprocal', 'Stinson Gibner : Vince Kaminski'),
 ('reciprocal', 'Vasant Shanbhogue : Vince Kaminski')]